{% extends "deen_app/layouts/base.html" %}
{% block title %}Password Reset | Deen App{% endblock %}
{% block content %}
<main>
  <section class="login-section container" style="margin-top: 5rem; max-width: 500px;">
    <h1 class="mb-4">Password Reset</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_email" class="form-label">Email address</label>
        {{ form.email }}
      </div>
      <button type="submit" class="btn btn-primary w-100">Send Password Reset Email</button>
    </form>
  </section>
</main>
{% endblock %}
