{% extends "deen_app/layouts/base.html" %}
{% block title %}Edit Profile | Deen App{% endblock %}
{% block content %}
<main>
  <section class="login-section container" style="margin-top: 5rem; max-width: 500px;">
    <h1 class="mb-4">Edit Profile</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button type="submit" class="btn btn-primary w-100">Save Changes</button>
    </form>
    <div class="mt-3">
      {% if request.user.profile.avatar %}
          <img src="{{ request.user.profile.avatar.url }}" alt="Profile Image" width="150" height="150">
      {% else %}
          <img src="{% static 'img/john_profile.jpg' %}" alt="Default Profile Image" width="150" height="150">
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
